.example-container {
    width: 100%;
    height: 10%;
}

.header_format {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.profil {
    margin: 25px;
}