<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-header></app-header>
    </mat-drawer>

    <div class="header_format">
        <div class="menu">
            <button type="button" mat-button (click)="drawer.toggle()">
                <span class="material-symbols-outlined">menu</span>
            </button>
        </div>

        <div class="profil">
                <span class="material-symbols-outlined"><a routerLink="/profil">account_circle</a></span>
        </div>
    </div>
</mat-drawer-container>
<router-outlet></router-outlet>
